<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortner</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/logo.png">
</head>
<body>
    <div class="container">
        <h2>Url Shortener</h2>
        <form action="/" method="post">
            <div>
                <label for="url"> Enter Url: </label>
                <input type="url" id="url" name="url" required>
               
            </div>
            <div>
                <label for="shortCode">Enter ShortCode:</label> 
                <input type="text" id="shortCode" name="shortCode" required>
            </div>
            <button type="submit">shorten</button>
        </form>
        <h2>Shortened Url</h2>
        
        <ul id="shortened-urls">
 
           <% links.map(({shortCode,url})=>{  %>
            <% const truncatedURL= url.length >=30 ? `${url.slice(0,30)}...` : url %>

            <li>
                <a href="/<%= shortCode %>" target="_blank"> <%= host %>/ <%= shortCode %></a>- <%= truncatedURL %>
                
            </li>
        <% }) %>
           
        
        </ul>
    </div>

</body>
</html>